.container {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  border-top: 1px solid grey;
}

.userContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
