.body {
  display: flex;
  background-Color: #1d3247;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.leftcontainer{
  width: 40vw;
  height: 100vh;
    background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png");
  background-size: 1000px;

  
  
 
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  color: black;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}
