.body {
  display: flex;
  background-Color: #1d3247;
  color: white;
}
.logoLeft{
  display: flex;
  transform : rotate(180deg);
  margin-left: 240px;
  margin-top: 360px;
   justify-content: center;
    height: 260px;
}
.logoRight{
  margin-top: -230px;
  display: flex;
  transform : rotate(180deg);
   justify-content: center;
    height: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.leftcontainer{
  width: 40vw;
  height: 100vh;
    background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png");
  background-size: 1000px;

}

.rightcontainer{
  margin-left: 30px;
  margin-top: 250px;
  

}

.register{

}
.signin{
  
  display: block;
  width: 150px;
  height: 30px;
  border-radius: 30px;
  border-color: white;
   background-color: #3aa3ee;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


.signup{
  display: block;
  width: 150px;
  height: 30px;
  border-radius: 30px;
  border-color: white;
   background-color: #1d3247;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.title {
  margin-top: 250px;
  line-height: 1.15;
  font-size: 5rem;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.title a {
  color: #0070f3;
  text-decoration: none;

}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

