.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 15px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1d3247;
}

.home {
  align-self: flex-start;
  justify-self: start;
}

.submit {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.tweetBtn {
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  color: white;
  background-color: rgb(64, 151, 205);
  border: none;
  transition-duration: 0.3s;
}

.tweetBtn:hover {
  background-color: rgba(64, 151, 205, 0.582);
  transition-duration: 0.3s;
}

.inputContainer {
  width: 80%;
}

.input {
  width: 100%;
  height: 50px;
  color: white;
  border: none;
  border-bottom: 2px solid #8a8a8d;
  background-color: #1d3247;
}

.input:focus {
  outline: none;
}
