.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.user {
  display: flex;
  margin: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.userText {
  display: flex;
  margin: 10px;
  width: 100%;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
}

.profileImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.logoImg {
  margin: 20px;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
}
